body {
   background-image: url("https://c4.wallpaperflare.com/wallpaper/807/752/52/abstract-minimalistic-hexagons-textures-artwork-honeycomb-1920x1080-abstract-textures-hd-art-wallpaper-thumb.jpg");
   font-family: Arial, Helvetica, sans-serif;
   text-align: center;
   
}

<!-- Hope You Enjoyed! Still Learning and loving every moment! -->

 a:link {
  color: blue;
  background-color: transparent;
  text-decoration: none;
}
a:visited {
  color: white;
  background-color: transparent;
  text-decoration: none;
}
a:hover {
  color: red;
  background-color: transparent;
  text-decoration: underline;
}
a:active {
  color: yellow;
  background-color: transparent;
  text-decoration: underline;
}



  
p {
  color: white;
}

h1 {
  color: #ffffe0;
  background-color: #DC143C;
  font-size: 40px;
  border-radius: 10px;
  font-family: 'Nunito', sans-serif;
  
  
}

.exp-header {
  color: black;
  background-color: white;
  border-radius: 10px;

}

h2 {
  color: black;
  background-color: #429bb8;
  font-size: 22px;
  border-radius: 10px;
 
}

h4, h5, h6 {
  color: white;
 
}

.titleone, .titletwo, .titlethree {
  color: white; 
  font-size: 25px;
  margin-right: 25px;
  display: flex;
  justify-content: center;
  border-top: 1px solid #DC143C;
  padding: 1px;
  
}

.info1, .info2, .info3 {
  color: white;
  display: flex;
  justify-content: center;
  padding: 25px;

}

.footer {
  color: red;
  padding: 1px;
 
}

H6 {
  color: white;
  font-size: 15px;
  padding: 1px;
}

.media {
  border-radius: 100px;
  color: white;
  font-weight: 100px;
  padding:10px;
  font-size:30px;
  font-family: 'Azeret Mono', monospace; 
  background-image: url("https://motionarray.imgix.net/preview-33432ec7tE8nPmD_0012.jpg");
  float:left;
  position:fixed;
  
}

.link{
  margin-left: 37px;
  padding: 10px;
  border-radius:100px;
  background-image: url("https://sothebys-com.brightspotcdn.com/dims4/default/aeb0f39/2147483647/strip/true/crop/1904x1315+0+0/resize/684x472!/quality/90/?url=http%3A%2F%2Fsothebys-brightspot.s3.amazonaws.com%2Fdotcom%2Fb9%2F5f%2Fd4b55ee64cadb1a43165305c2990%2F068hk0732-9fcmh.jpg");
  float: left;
  position: fixed;
  
}

.link:hover, .media:hover {
 background-position: -100px;
  
} 

